body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 150px;
}

header h1 {
    margin: 10px;
    padding: 10px;
    font-size: 0.8rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    width: 100%;
    margin: 0;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin: 0 10px;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #ddd;
}

main .main-content {
    background-color: #ccc;
    padding: 20px;
}

aside {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 200px;
}